# --- Core ---
fastapi==0.117.1
uvicorn[standard]==0.36.0

# --- DB drivers ---
psycopg2-binary==2.9.9          # PostgreSQL driver
SQLAlchemy==2.0.43              # ORM

# --- Configuración / Entorno ---
python-dotenv==1.1.1
pydantic==2.11.9
pydantic-settings==2.10.1

# --- Utilidades internas ---
annotated-types==0.7.0
typing_extensions==4.15.0
typing-inspection==0.4.1

# --- Servidor / rendimiento ---
anyio==4.10.0
click==8.3.0
h11==0.16.0
httptools==0.6.4
uvloop==0.21.0
watchfiles==1.1.0
websockets==15.0.1

# --- Otros ---
greenlet==3.2.4
idna==3.10
PyYAML==6.0.2
starlette==0.48.0